<form method="POST" action="/articles">
 <label for="name"> Title</label>
  <input type="text" id="name" name="title">
  <label for="name"> Content</label>
   <input type="text" id="name" name="content">
  <input type="submit" value="Add Book" />
</form>
