<h1>Article: <%= @article.title %></h1>
<body>
  <p> "content content content content content"</p>
  <p> <%= @article.content %></p>
  </body>


  <form method="post" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
